.flex {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.container {
  display: grid;
  grid-gap: 20px;
  grid-template-columns: repeat(2, 1fr);
  width: 100%;
  min-height: 80vh;
  // place-items: stretch;
  .doing,
  .done {
    .flex();
    flex-direction: column;
    justify-content: flex-start;
    height: 100%;
    border: 2px solid red;
    .title {
      font-weight: bold;
      font-size: 24px;
    }
    .label {
      width: 100%;
      margin-bottom: 10px;
      .flex();
      // background-color: #eee;
      & > span {
        flex: auto;
        text-align: center;
      }
    }
    .main {
      flex: auto;
      width: 100%;
      overflow: auto;
      // border: 2px solid green;
      .item {
        justify-content: flex-start;
        width: 100%;
        padding: 5px 0;
        .flex();
        &:nth-child(2n) {
          background-color: #fff;
        }
        .sort {
          flex-basis: 20%;
          .flex();
        }
        .box {
          flex: auto;
          flex-direction: column;
          .flex();
          .spu {
            width: 100%;
            border-right: 1px solid #eee;
            border-left: 1px solid #eee;
            .flex();

            .name {
              .flex();
              flex-basis: 50%;
            }
            .specifition {
              .flex();
              flex-basis: 50%;
              flex-direction: column;
              .spe_name {
                padding: 5px 0;
              }
              .spe_name + .spe_name {
                border-top: 1px solid #eee;
              }
            }
          }
          .spu + .spu {
            border-top: 1px solid #eee;
          }
        }
        .tools {
          flex-basis: 20%;
          box-sizing: border-box;
          padding: 0 20px;
          .flex();
          .button {
            // width: 4;
          }
        }
      }
    }
  }
}

.history {
  width: 100%;
  .header {
    display: flex;
    padding: 10px 0;
    .item {
      flex-basis: calc(100% / 3);
    }
  }
  .main {
    margin-top: 20px;
    background-color: #fff;
  }
}
