.flex {
  display: flex;
  justify-content: center;
  align-items: center;
}
.container {
  width: 100%;
  .header {
    padding: 20px;
    width: 100%;
    box-sizing: border-box;
    .content {
      padding-top: 10px;
      width: 100%;
      .item {
        width: 30%;
      }
    }
  }
  .main {
    margin-top: 20px;
  }
  
  
}
.modal {
  .item {
    margin-bottom: 20px;
    width: 100%;
    .flex();
    justify-content: flex-start;
    
    .label {
      width: 80px;
      flex: none;
      flex-wrap: nowrap;
    }
  }
}
